@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

html{
    overflow-x: hidden;
}

body{
    width: 100%;
    background-color: #101820FF;
}

/* Home Page */

#header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(#101820FF 6%, #0c102273 63%, #00000000);
}

#mobile{
    display: none;
}

#navbar{
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 40%;
}

#navbar a p{
    font-size: 25px;
    font-weight: 900;
    color: #F2AA4CFF;
    padding-left: 20px;
}

#nav{
    list-style: none;
    display: flex;
    
}

#navbar li{
    position: relative;
}

#close{
    display: none;
}

#nav a{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 25px;
    transition: 0.3s ease;
    
}

#nav a.active,
#nav a:hover{
    color: #F2AA4CFF;
}

#nav a.active::after,
#nav a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #F2AA4CFF;
    position: absolute;
    bottom: -4px;
    left: 25px;
}

#hero{
    top: 0;
    padding: 9rem 3rem 3rem 5rem;
}

#hero-content{
    display: flex;
}

#heroprofile img{
    height: 25rem;
    border-radius: 80%;
    border-style: solid;
    border-color: #f2aa4cff;
    background-color: #f2aa4cff;
}

#herodetails{
    padding: 30px;
    color: #fff;
}

#herodetails h3{
    font-size: 24px;
}

#herodetails h1{
    font-size: 32px;
    font-weight: 400;
    font-family: "Permanent Marker", cursive;
    color: #f2aa4cff;
}

#herodetails h2{
    padding-top: 20px;
    font-size: 28px;
}

#herodetails span{
    color: #F2AA4CFF;
}

#herodetails p{
    padding-top: 10px;
}

#moreabout{
    padding-top: 50px;
}

#moreabout a{
    padding: 15px;
    color: #101820FF;
    font-weight: 600;
    background-color: #f2aa4cff;
    border-radius: 55px;
    transition: 0.3s ease;
}

#moreabout a:hover{
    background-color: #706f6f;
    color: #f2aa4cff;
    box-shadow: 1px 2px 2px #fff;
}


/* About Page */

#about{
    color: #fff;
    padding: 5rem;
    padding-top: 8rem;
}

#aboutme h2{
    position: relative;
    color: #fff;
}

#aboutme span{
    color: #f2aa4cff;
}

#aboutme h2::after{
    content: "";
    width: 5%;
    height: 4px;
    background: #F2AA4CFF;
    position: absolute;
    bottom: -4px;
    left: 2px;
}

#abtitle{
    padding-top: 20px;
}

#abtitle h1{
    font-size: 32px;
}

#abtitle span{
    color: #f2aa4cff;
}

#abtitle p{
    padding-top: 25px;
}

#persona{
    display: flex;
    gap: 10%;
    justify-content: center;
}

#detailsinfo p{
    padding: 10px;
    font-size: 20px;
    color: #f2aa4cff;
    position: relative;
}

#detailsinfo span{
    font-size: 16px;
    color: #c0c0c0;
}

#detailsinfo p::after{
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(224, 224, 224);
    position: absolute;
    bottom: -1px;
    left: 5px;
}

#buttons{
    padding-top: 45px;
}

#buttons1{
    display: none;
}

#buttons .download{
    padding: 15px;
    background-color: #f2aa4cff;
    border-radius: 50px;
    margin-right: 30px;
    color: #101820FF;
    font-size: 19px;
    font-weight: 600;
    transition: 0.3s ease;
}

#buttons .hire{
    padding: 15px;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 600;
    background-color: #706f6f;
    color: #f2aa4cff;
    transition: 0.3s ease;
}

#buttons .download:hover{
    background-color: #706f6f;
    color: #f2aa4cff;
    box-shadow: 1px 2px 2px #fff;
}

#buttons .hire:hover{
    background-color: #f2aa4cff;
    color: #101820FF;
    box-shadow: 1px 2px 2px #fff;
}

/* Projects Page */

#projects{
    color: #fff;
    padding: 5rem;
    padding-top: 8rem;
}

#projects h1{
    padding-bottom: 5px;
    position: relative;
}

#projects span{
    color: #f2aa4cff;
}

#projects h1::after{
    content: "";
    width: 5%;
    height: 4px;
    background: #F2AA4CFF;
    position: absolute;
    bottom: -4px;
    left: 2px;
}

#project{
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
}

#pinfo{
    text-align: center;
    transition: 0.3s ease;
}

#pinfo img{
    border-radius: 20px;
}

#pinfo a{
    color: #fff;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: wrap;
}

#pinfo a:hover{
    color: #f2aa4cff;
}

#pinfo:hover{
    transform: scale(1.10);
}

/* Contact Page */

#contact{
    color: #fff;
    padding: 5rem;
    padding-top: 8rem;
}

#contact h1{
    padding-bottom: 5px;
    position: relative;
}

#contact h1::after{
    content: "";
    width: 5%;
    height: 4px;
    background: #F2AA4CFF;
    position: absolute;
    bottom: -4px;
    left: 2px;
}

#contact span{
    color: #f2aa4cff;
}

form{
    padding: 30px;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 50px;
    background-color: #c0c0c0;
    border-radius: 20px;
}

#input{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

#input input{
    width: 100%;
}

#input1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#input input,
#input1 input,
#input1 textarea{
    padding: 10px;
    border-radius: 20px;
    border: none;
}

#button{
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background-color: #706f6f;
    font-size: 16px;
    font-weight: 600;
    color: #f2aa4cff;
}

#button:hover{
    background-color: #f2aa4cff;
    color: #000;
    box-shadow: 2px 3px 2px #000000;
}

.message{
    font-size: 20px;
    color: #101820FF;
}

.thanks{
    font-size: 16px;
    color: #101820FF;
}

/* media queries */

@media (max-width: 1335px) {
    #navbar{
        gap: 35%;
    }
}

@media (max-width: 1244px) {
    #navbar{
        gap: 33%;
    }
}

@media (max-width: 1209px) {
    #navbar{
        gap: 29%;
    }
}

@media (max-width: 1144px) {
    #navbar{
        gap: 24%;
    }
}

@media (max-width: 1075px) {
    #navbar{
        gap: 20%;
    }
}

@media (max-width: 770px) {
    #navbar{
        padding: 25px;
        gap: 3.8%;
    }

    #navbar a p{
        font-size: 20px;
        padding-left: 0px;
    }

    #hero-content {
        display: flex;
        flex-direction: column;
    }

    #heroprofile{
        padding-left: 100px;
    }

    #buttons {
        padding-top: 40px;
        display: flex;
        
    }

    #buttons .download {
        padding: 10px;
        margin-right: 0;
        text-align: center;
    }

    #buttons .hire {
        display: none;
    }

    #buttons1{
        display: flex;
        padding-top: 40px;
    }

    #buttons1 .download{
        display: none;
    }

    #buttons1 .hire{
        padding: 10px;
        border-radius: 50px;
        font-size: 19px;
        font-weight: 600;
        background-color: #706f6f;
        color: #f2aa4cff;
        transition: 0.3s ease;
    }

    #buttons1 .hire:hover{
        background-color: #f2aa4cff;
        color: #101820FF;
        box-shadow: 1px 2px 2px #fff;
    }

    form {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width: 500px) {

    #navbar{
        gap: 30%;
    }

    #nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: -500px;
        left: 0px;
        height: 50%;
        width: 100%;
        background-color: #101820FF;
        box-shadow: 0px 3px 2px #c0c0c0;
        transition: 0.3s ease;
    }

    #nav li{
        padding: 30px 0px 0px 0px;
    }

    #nav.active{
        top: 0;
    }

    #close{
        display: flex;
        margin-left: 22rem;
    }

    #mobile{
        display: flex;
        color: #fff;
    }

    .fa-xmark,
    .fa-bars{
        font-size: 20px;
    }

    #hero {
        padding: 7rem 1rem 1rem 1rem;
    }

    #heroprofile{
        padding-left: 45px;
    }

    #heroprofile img{
        height: 18rem;
    }

    #herodetails h3 {
        font-size: 20px;
    }

    #herodetails h1 {
        font-size: 28px;
    }

    #herodetails h2 {
        font-size: 22px;
    }

    #about {
        padding: 2rem;
        padding-top: 6rem;
    }

    #aboutme h2{
        font-size: 20px;
    }

    #abtitle h1 {
        font-size: 20px;
    }

    #persona {
        display: block;
        gap: 10%;
        justify-content: center;
    }

    #buttons {
        display: none;
    }

    #buttons1 .download{
        display: flex;
        padding: 10px;
        background-color: #f2aa4cff;
        border-radius: 50px;
        margin-right: 30px;
        color: #101820FF;
        font-size: 19px;
        font-weight: 600;
        transition: 0.3s ease;
    }

    #buttons1 .download:hover{
        background-color: #706f6f;
        color: #f2aa4cff;
        box-shadow: 1px 2px 2px #fff;
    }

    #projects {
        color: #fff;
        padding: 2rem;
        padding-top: 6rem;
    }

    #project {
        padding-top: 50px;
        padding-bottom: 30px;
        display: block;
        justify-content: space-around;
    }

    #projects h1 {
        font-size: 18px;
    }

    #pinfo {
        margin-bottom: 50px;
        text-align: center;
        transition: 0.3s ease;
    }

    #pinfo h2{
        font-size: 19px;
    }

    #pinfo img{
        height: 17rem;
    }

    #contact {
        padding: 2rem;
        padding-top: 6rem;
    }

    form {
        padding: 17px;
        margin-left: 0rem;
        margin-right: 0rem;
    }

}

@media (max-width: 400px) {
    
    #navbar {
        gap: 20%;
    }

    #close{
        margin-left: 19rem;
    }

    #heroprofile {
        padding-left: 25px;
    }

    #herodetails {
        padding: 20px;
    }

    #herodetails h1 {
        font-size: 24px;
    }

    #herodetails h2 {
        font-size: 20px;
    }

    #about {
        padding: 1.5rem;
        padding-top: 6rem;
        padding-bottom: 3rem;
    }

    #abtitle h1 {
        font-size: 18px;
    }

    #detailsinfo p {
        font-size: 18px;
    }

    #projects h1 {
        font-size: 18px;
    }

    #pinfo h2{
        font-size: 19px;
    }

    #pinfo img{
        height: 15rem;
    }

    form {
        padding: 17px;
    }

    #input {
        display: block;
        margin-bottom: 0px;
    }

    #input input{
        margin-bottom: 20px;
    }
}

@media (max-width: 350px) {
    #navbar {
        padding: 25px 17px 25px 17px;
        gap: 10%;
    }

    #close{
        margin-left: 16rem;
    }

    #heroprofile {
        padding-left: 25px;
    }

    #heroprofile img{
        height: 14rem;
    }

    #herodetails {
        padding: 18px;
    }

    #herodetails h1 {
        font-size: 22px;
    }

    #herodetails h2 {
        font-size: 18px;
    }

    #herodetails p{
        font-size: 15px;
    }

    #moreabout a{
        font-size: 18px;
        padding: 10px;
    }

    #aboutme h2 {
        font-size: 17px;
    }

    #abtitle h1 {
        font-size: 16px;
    }

    #abtitle p{
        font-size: 15px;
    }

    #detailsinfo p {
        font-size: 15px;
    }

    #detailsinfo span {
        font-size: 13px;
    }
    
    #buttons1{
        gap: 10px;
    }

    #buttons1 .download{
        margin-right: 0px;
        font-size: 16px;
    }

    #buttons1 .hire{
        font-size: 16px;
    }

    #projects h1 {
        font-size: 17px;
    }

    #pinfo h2{
        font-size: 19px;
    }

    #pinfo img{
        height: 15rem;
    }

    #contact h1{
        font-size: 17px;
    }

    form {
        padding: 17px;
    }
}